
.welcome{
  display: flex;
  justify-content: center;
}
header img {
  max-width:10%;
  float: right;
  margin-left: -150px;
}
header img:hover {
  transition:1s;
  transform:scale(1.4) rotate(360deg);
}
h1 {
  font-family: 'IBM Plex Serif', serif;
}
.gallery{
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  padding:0px;
}

.gallery img:hover {
  transition: ease-out,0.4s;
  transform: scale(1.4);
}
.search {
  display: flex;
  justify-content: center;
  height:30px;
}
#searchbar {
width: 45%;
text-align: center;
border:none;
border-radius: 5px;
}

.button {
  width:10%;
  background-color: #009578 ;
  border:none;
  border-radius:5px;
  color:white;
  font-size: 15px;
}
.button:hover {
  background-color: #008168;
  transform: scale(1.4);
  transition: 1s;
}
.button:active{
  background-color: #006e58;
}
